@{
  Layout = "_Layout";
}

@using CAH.Models;

@model CAH.ViewModels.CardsViewModel;

@{
  Random random = new Random();
  var randomWhiteCard = Model.WhiteCards[random.Next(Model.WhiteCards.Count)];
  var randomBlackCard = Model.BlackCards[random.Next(Model.BlackCards.Count)];
}

<h1>Censorship Against Humanity</h1>

<br><br>
<h2>Random White Card</h2>
<p>@randomWhiteCard.Text</p>

<br><br>
<h2>Random Black Card</h2>
<p>@randomBlackCard.Text</p>

<br><br><br>
<h2>White Cards</h2>
@foreach (WhiteCards whiteCards in Model.WhiteCards)
{
  <li>@whiteCards.Text</li>
}

<br><br><br>
<h2>Black Cards</h2>

@foreach (BlackCards blackCards in Model.BlackCards)
{
  <li>@blackCards.Text</li>
}