@{
    Layout = "_Layout";
}

<h1>Censorship Against Humanity</h1>

<div id="whiteCardContainer">
    <div id="game-menu-option" class="blackCardMenu h4-styled flip">
        <div class="card-inner">
            <div class="card-front">
                <p class="random-card white-font">Flip this card to ______ .</p>
            </div>
            <div class="card-back">
                <h4 class="random-card">@Html.ActionLink("Start Game", "Index", "Game")</h4>
            </div>
        </div>
    </div>
</div>

<div id="game-instruct-container">
    <p id="game-instruct-open">Game Play Instructions</p>
    <ol id="game-instruct">
        <li>Draw 5 white cards.</li>
        <li>Choose your answer.</li>
        <li>Repeat till satisfied.</li>
    </ol>
</div>