@{
  Layout = "_Layout";
}

<h1>Censorship Against Humanity</h1>

<div id="game-menu-option" class="whiteCard h4-styled">
  <h4 class="whitecard">@Html.ActionLink("Start Game", "Index", "Game")</h4>
</div>